可管理的物业列表&nbsp;&nbsp;&nbsp;&nbsp;<button id="btnMenu">操作</button>
<p>
<div id='proplist'>
</div>
<br>
<br>
<br>
<li style="line-height:38px;font-size:small;"><a href="#">更多记录...</a></li>
<br>

<div id="resetpassword-form" title="修改密码">
<p class="validateTips">所有的表单字段都是必填的。</p>
<form>
<fieldset>
<label for="password">新设密码</label>
<input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all">
<label for="password2">确认密码</label>
<input type="password" name="password2" id="password2" value="" class="text ui-widget-content ui-corner-all">
</fieldset>
</form>
</div>

<div id="adminaccount-div" title="管理员账号">
<table id="users" class="ui-widget ui-widget-content">
<thead>
<tr class="ui-widget-header ">
<th>名字</th>
<th>邮箱</th>
<th>密码</th>
</tr>
</thead>
<tbody>
<tr>
<td>tom</td>
<td>tom@ljz.com</td>
<td>tompassword</td>
</tr>
</tbody>
</table>
</div>

<div id="manageproperty-div" title="管理物业">

<div id="manageproperty-btn-div">
	<form id="manageproperty-form">
		<input type="radio" id="radioSelectAll" name="radio" /><label for="radioSelectAll">全选</label>
		<input type="radio" id="radioUnselectAll" name="radio" checked="checked"/><label for="radioUnselectAll">不选</label>
		<button id='btnAddProperty' style="margin-left:30px;">增加物业</button>
		<button id='btnDeleteProperty'>删除物业</button>
		<button id='btnRefreshProperty'>刷新</button>
		<button id='btnHelpProperty'>帮助</button>
	</form>
</div>

<div id="">
	<table id="properties" class="ui-widget ui-widget-content">
		<thead>
		<tr class="ui-widget-header ">
		<th>ID</th> <th>名称</th> <th>城市</th> <th>地址</th>
		</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

<div id="addproperty-div" style="display:none">
请输入物业详细信息:
<form id="property-form">
<fieldset>
	<label for="propertyName">物业名称</label>
	<input type="text" name="propertyName" id="propertyName" value="" class="text ui-widget-content ui-corner-all">
	<label for="city">城市</label>
	<input type="text" name="city" id="city" value="上海" class="text ui-widget-content ui-corner-all">
	<label for="address">地址</label>
	<input type="text" name="address" id="address" value="" class="text ui-widget-content ui-corner-all">
	<label for="floor">楼层(B1,B2,B3)</label>
	<input type="text" name="floor" id="floor" value="B1" class="text ui-widget-content ui-corner-all">
	
	<label for="phone">物业电话</label>
	<input type="text" name="phone" id="phone" value="" class="text ui-widget-content ui-corner-all">
	
	
	<label for="longitude">经度</label>
	<input type="text" name="longitude" id="longitude" value="121" class="text ui-widget-content ui-corner-all">
	<label for="latitude">纬度</label>
	<input type="text" name="latitude" id="latitude" value="32" class="text ui-widget-content ui-corner-all">
	
	<label for="contact">联系人</label>
	<input type="text" name="contact" id="contact" value="" class="text ui-widget-content ui-corner-all">
	
	<label for="contactPhone">联系人电话</label>
	<input type="text" name="contactPhone" id="contactPhone" value="" class="text ui-widget-content ui-corner-all">
	
	<label for="description">描述</label>
	<input type="text" name="description" id="description" value="" class="text ui-widget-content ui-corner-all">
	
	<button id='btnSubmitProperty'>保存</button>
	<button id='btnCancelProperty'>取消</button>
</fieldset>
</form>
</div>

</div>
