可管理的物业列表&nbsp;&nbsp;&nbsp;&nbsp;<button id="btnMenu">操作</button>
<p>
<div id='proplist'>
</div>
<br>
<br>
<br>
<li style="line-height:38px;font-size:small;"><a href="#">更多记录...</a></li>
<br>

<div id="resetpassword-form" title="修改密码">
<p class="validateTips">所有的表单字段都是必填的。</p>
<form>
<fieldset>
<label for="password">新设密码</label>
<input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all">
<label for="password2">确认密码</label>
<input type="password" name="password2" id="password2" value="" class="text ui-widget-content ui-corner-all">
</fieldset>
</form>
</div>

<div id="adminaccount-div" title="管理员账号">
<table id="users" class="ui-widget ui-widget-content">
<thead>
<tr class="ui-widget-header ">
<th>名字</th>
<th>邮箱</th>
<th>密码</th>
</tr>
</thead>
<tbody>
<tr>
<td>tom</td>
<td>tom@ljz.com</td>
<td>tompassword</td>
</tr>
</tbody>
</table>
</div>

<div id="manageproperty-div" title="管理物业">
<table id="properties" class="ui-widget ui-widget-content">
<thead>
<tr class="ui-widget-header ">
<th>ID</th>
<th>名称</th>
<th>城市</th>
<th>地址</th>
</tr>
</thead>
<tbody>
<tr>
<td>LJZ_P1</td>
<td>陆家嘴世纪金融广场停车场</td>
<td>上海</td>
<td>浦东新区锦康路258号</td>
</tr>
</tbody>
</table>
</div>
