 
<div style="margin:5px 5px 5px 5px;">
<input type="button" id="ihn-demo-park" value="停车" style="display: inline;"><input type="text" id="ihn-demo-park-id" value="车位号" style="display: inline;" />
<input type="button" id="ihn-demo-unpark" value="取车" style="display: inline;"><input type="text" id="ihn-demo-unpark-id" value="车位号" style="display: inline;"/>
<button id="parkingBtn">初始化车库</button>
<button id="parkSpaceBtn">车位信息</button>
<button id="sensorBtn">设备信息</button>
<button id="navigateBtn">开始导航</button>
</div>

<div style="margin:5px 5px 5px 5px;">
<canvas id="myCanvas" width=800 height=500></canvas>
</div>

 